html,
body {
    padding: 0;
    margin: 0;
    background-color: #040913;
}

.div_top {
    height: 62%;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    margin-bottom: 1%;
    box-sizing: border-box;
    display: flex;
}
.div_bottom {
    height: 32%;
    width: 100%;
    margin-top: 1%;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.BoxWrap{
    width: 100px;
    height: 100px;
    position: relative;
}
.horn{
    position: absolute;
    border:3px solid #1e3462;
}
.horn>div{
    width: 10px;
    height: 10px;
    position:absolute;
}
.horn .lt{
    border-top: 5px solid #346bb3;
    border-left: 5px solid #346bb3;
    left: -3px;
    top: -3px;
}
.horn .rt{
    border-top: 5px solid #346bb3;
    border-right: 5px solid #346bb3;
    right: -3px;
    top: -3px;
}
.horn .rb{
    border-bottom:5px solid #346bb3;
    border-right: 5px solid #346bb3;
    right: -3px;
    bottom: -3px;
}
.horn .lb{
    border-bottom:5px solid #346bb3;
    border-left: 5px solid #346bb3;
    left: -3px;
    bottom: -3px;
}
